<!DOCTYPE html>
<html>
<head>
    <title>Code Search</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans flex h-screen bg-gray-50">
    <div class="mt-52 text-center w-full">
        <div class="text-4xl font-bold py-3">
            <span class="text-blue-500">C</span>
            <span class="text-red-500 ">o</span>
            <span class="text-yellow-500">d</span>
            <span class="text-blue-500">e</span>
            <span class="text-green-500">S</span>
            <span class="text-red-500">e</span>
            <span class="text-blue-500">a</span>
            <span class="text-yellow-500">r</span>
            <span class="text-green-500">c</span>
            <span class="text-red-500">h</span>
        </div>
        <div class="max-w-xl mx-auto px-4">
            <form action="/search" method="get" class="flex border rounded-full overflow-hidden hover:shadow-md focus-within:shadow-md">
                <input type="text" name="q" placeholder="Search for code..." class="flex-1 w-full px-4 py-3 outline-none">
            </form>
        </div>
    </div>
</body>
</html>