<!DOCTYPE html>
<html>
<head>
    <title>Code Search</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
</head>
<body class="font-sans bg-gray-50">
    <header class="border-b border-gray-200 bg-white py-3">
        <div class="mx-auto flex max-w-4xl items-center">
            <a href="/" class="mr-4 text-2xl font-bold">
                <img src="/static/favicon.svg" alt="CodeSearch" width="64" height="64">
            </a>
            <div class="flex-1"></div>
            <div class="mx-4">
                {% if auth and auth.authenticated %}
                    <div id="user-info">
                        <div>
                            <span class="mr-2">Welcome, {{ auth.user.name }}</span>
                        </div>
                        <div class="flex justify-end">
                            <a href="/favorites" class="mx-2 text-sm text-blue-500 hover:text-blue-700">Favorites</a>
                            <a href="/repo-convert" class="mx-2 text-sm text-blue-500 hover:text-blue-700">Code Convert</a>
                            <a href="/auth/signout" id="sign-out" class="mx-2 text-sm text-red-500 hover:text-red-800">Sign out</a>
                        </div>
                    </div>
                {% else %}
                    <a href="/auth/signin" id="google-login" class="flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 font-medium text-gray-800 hover:bg-gray-100">
                        Sign in with Google
                    </a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="mt-52 text-center w-full">
        <div class="text-4xl font-bold py-3">
            <span class="text-blue-500">C</span>
            <span class="text-red-500">o</span>
            <span class="text-yellow-500">d</span>
            <span class="text-blue-500">e</span>
            <span class="text-green-500">S</span>
            <span class="text-red-500">e</span>
            <span class="text-blue-500">a</span>
            <span class="text-yellow-500">r</span>
            <span class="text-green-500">c</span>
            <span class="text-red-500">h</span>
        </div>
        <div class="max-w-xl mx-auto px-4">
            <form action="/search" method="get" class="flex border rounded-full overflow-hidden hover:shadow-md focus-within:shadow-md">
                <input type="text" name="q" placeholder="Search for code..." class="flex-1 w-full px-4 py-3 outline-none">
            </form>
        </div>
    </div>
    <script src="/static/js/favorites.js"></script>
</body>
</html>